@charset "utf-8";

/* Type Selector */
html,body {width:100%; height:100%; margin:0; padding:0; font-size:100%;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0; padding:0;}
body {font-weight:400; font-family:Malgun Gothic, Arial, sans-serif; font-size:1em;}
button, input[type=submit], input[type=reset], input[type=button] {overflow:visible; cursor:pointer;}
input, select, textarea, button {font-family:Nanum Gothic, Malgun Gothic, Arial, sans-serif; font-size:100%;}
li {list-style:none;}
img, fieldset {border:none;}
hr {display:none;}
em, address, cite {font-style:normal;}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover, a:focus {text-decoration:underline;}
a:active {text-decoration:none;}

/* HTML5 Reset */
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display: block;}

/* Accessibility Navigation */
#accNav {position:absolute; top:0; left:0; z-index:1000; width:100%; height:0;}
#accNav a {display:block; position:absolute; left:0; top:0; overflow:hidden; width:1px; height:1px; margin-left:-1px; margin-bottom:-1px; text-align:center; font-weight:bold; font-size:0.875em; color:#000; white-space:nowrap;}
#accNav a:focus, #accNav a:hover, #accNav a:active {width:100%; height:auto; padding:10px 0; background:#000; color:#fff; z-index:1000;}
